html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: #495057;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.card {
  position: relative;
  text-align: center;
  max-width: 600px;
  padding: 10px;
}

.question {
  position: absolute;
  top: 26%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  font-size: 29px;
  font-weight: bold;
  background: white;
  border-radius: 10px;
  padding: 10px;
}

.btn {
  display: inline-block;
  width: 100%;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 15px 20px;
  margin-top: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  text-align: left;
}

.btn:hover {
  background-color: #eee;
  cursor: pointer;
}

.btn:disabled {
  pointer-events: none;
}

.success {
  color: #155724;
  background-color: #c3e6cb;
  pointer-events: none;
}

.error {
  color: #721c24;
  background-color: #f5c6cb;
}

.header {
  background-color: #165191;
  color: white;
  padding: 25px 15px;
  font-size: 30px;
}

.img-container {
  max-height: 350px;
  overflow: hidden;
}

.results {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.callout {
  max-width: 575px;
  margin: 10px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: #428bca;
  background-color: #428bca1c;
  padding: 10px;
}

.retry {
  width: 30%;
  text-align: center;
}

@media only screen and (max-width: 580px) {
  .question {
    top: 20%;
  }
}